/* for the margin and padding stuff i messed around with it until i found what i liked most of the time i didnt have to mess around with it hrough */



body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* i liked this font */
margin: 0;
padding: 0;
}

.banner{
  background-color: orange;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0px;
  font-size: large;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav ul{
  list-style-type: none;
  background-color: orange;
  padding: 40px;
  margin: 0px;
  display:flex;
  justify-content: center; /* this was so it was centered and it felt appropiate that is was */
  gap: 410px; /* this gapping felt most appropriate as in my opinion looks the most spaced out between the word and the sides of the page for the normal pc page */
  padding: 15px 0px;
  font-size: 20px
}
.nav li {display:inline}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  text-align: center;
  font-size: 150px;
}

.photo-gal {display: flex;
justify-content: flex-start;
gap: 0px;
margin-top: 20px;
}

.photo-gal img {
width: 400px;
height: auto;
margin: 0;

}